.container {
  position: relative;
}

.sc-main-banner {
  margin-top: 85px;
}
@media (max-width: 700px) {
  .sc-main-banner {
    margin-top: 63px;
  }
}
.sc-main-banner .swiper {
  position: relative;
  width: 100%;
  height: 66vh;
}
.sc-main-banner .swiper .swiper-slide {
  position: relative;
}
.sc-main-banner .swiper .swiper-slide img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}
.sc-main-banner .swiper .swiper-slide .img1 {
  object-position: 50% calc(50% + 20px);
}
.sc-main-banner .swiper .swiper-slide .content-area {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: #fff;
}
.sc-main-banner .swiper .content-area .title {
  font-size: clamp(42px, 5vw, 90px);
  font-weight: 700;
  text-transform: uppercase;
  line-height: 1.1;
}
.sc-main-banner .swiper .content-area .sub-title {
  font-size: clamp(16px, 1.2vw, 26px);
  word-break: keep-all;
}
.sc-main-banner .swiper .btn-area {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 1200px;
  z-index: 1;
}
@media (max-width: 1280px) {
  .sc-main-banner .swiper .btn-area {
    display: none;
  }
}
.sc-main-banner .swiper .btn-area button {
  width: 34px;
  height: 67px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.sc-main-banner .swiper .btn-area .btn-prev {
  background-image: url("../imgs/arrow-left.png");
}
.sc-main-banner .swiper .btn-area .btn-next {
  background-image: url("../imgs/arrow-right.png");
}
.sc-main-banner .swiper .control-area {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 8px;
  width: 100%;
  max-width: 1200px;
  height: 30px;
  gap: 12px;
  color: #fff;
  z-index: 1;
}
.sc-main-banner .swiper .swiper-pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  position: static;
  width: 64px;
  height: 30px;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 20px;
  font-size: 14px;
}
.sc-main-banner .swiper .playOrPause {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 50%;
}
.sc-main-banner .swiper .playOrPause .fa-play {
  display: none;
}
.sc-main-banner .swiper .playOrPause.pause .fa-play {
  display: block;
}
.sc-main-banner .swiper .playOrPause.pause .fa-pause {
  display: none;
}

.sc-project {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding-top: 130px;
  padding-bottom: 220px;
}
.sc-project h2 {
  text-align: center;
  font-size: clamp(24px, 3vw, 50px);
  font-weight: 600;
  text-transform: uppercase;
}
.sc-project .tab-list {
  display: flex;
  gap: 1rem;
  margin: 40px 0;
}
@media (max-width: 700px) {
  .sc-project .tab-list {
    width: 273px;
    flex-wrap: wrap;
  }
}
.sc-project .tab-list li {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.4rem 1.31rem;
  font-size: clamp(14px, 1rem, 16px);
  border: 1px solid #000;
  border-radius: 20px;
  cursor: pointer;
}
.sc-project .tab-list li.active {
  background-color: #000;
  color: #fff;
}
.sc-project .tab4.list-animation,
.sc-project .tab3.list-animation,
.sc-project .tab2.list-animation {
  display: none;
}
.sc-project .project-list {
  display: flex;
  gap: 2.25rem;
}
@media (max-width: 1280px) {
  .sc-project .project-list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 700px) {
  .sc-project .project-list {
    display: flex;
    flex-direction: column;
  }
}
.sc-project .project-list li {
  flex: 1;
}
.sc-project .project-list li .img-wrapper {
  width: 273px;
  height: 273px;
  aspect-ratio: 1 / 1;
  overflow: hidden;
}
.sc-project .project-list li img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  transition: 0.3s;
}
.sc-project .project-list li a:hover img {
  transform: scale(1.1);
}
.sc-project .project-list li .project-title {
  font-size: clamp(16px, 1.375rem, 22px);
  font-weight: 700;
  margin-top: 14px;
}
.sc-project .project-list li .sub-title {
  font-size: clamp(14px, 1rem, 16px);
  color: #999;
}
.sc-project .view-more {
  display: flex;
  align-items: center;
  margin-top: 33px;
  padding: 0.78rem 2.31rem;
  font-size: clamp(16px, 1.125rem, 18px);
  color: #fff;
  text-transform: uppercase;
  background-color: #0f4be2;
  border-radius: 30px;
  transition: 0.3s;
}
.sc-project .view-more::after {
  content: "";
  display: block;
  width: 31px;
  height: 16px;
  background: url("../imgs/ico-arrow.png") no-repeat center / cover;
  margin-left: 16px;
}
.sc-project .view-more:hover {
  opacity: 0.8;
}

.popup {
  position: fixed;
  right: 0;
  bottom: 0;
  width: 88px;
  height: 88px;
  background: url("../imgs/popup-box.png") no-repeat center / cover;
  z-index: 1;
}
.popup.on {
  position: absolute;
}
.popup::before {
  position: absolute;
  top: 28px;
  left: 27px;
  content: "";
  width: 24px;
  height: 24px;
  background: url("../imgs/ico-popup.png") no-repeat center / cover;
}
.popup:hover {
  animation: popupAnimation 1s ease-in-out infinite;
}
@keyframes popupAnimation {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10%);
  }
}

.modal-popup {
  display: none;
  position: fixed;
  right: 16px;
  bottom: 96px;
  width: 330px;
  height: 517px;
  border-radius: 10px;
  background-color: #fff;
  z-index: 3;
}
.modal-popup.open {
  display: block;
}
.modal-popup.on {
  position: absolute;
}
.modal-popup .modal-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 60px;
  padding: 8px 16px;
  color: #fff;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  background-color: #0f4be2;
}
.modal-popup .modal-header .title-area {
  display: flex;
  flex-direction: column;
}
.modal-popup .modal-header .close {
  width: 16px;
  height: 16px;
}
.modal-popup .modal-header .modal-title {
  font-size: 18px;
  font-weight: 500;
}
.modal-popup .modal-header .sub-title {
  font-size: 14px;
}
.modal-popup .modal-content {
  display: flex;
  align-items: flex-end;
  margin: 16px;
}
.modal-popup .modal-content .profile-img {
  width: 40px;
  height: 40px;
  margin-right: 8px;
}
.modal-popup .modal-content .profile-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.modal-popup .modal-content .bubble {
  display: flex;
  align-items: center;
  height: 30px;
  padding: 4.8px 16px;
  border: 1px solid #eee;
  border-radius: 20px;
  border-top-left-radius: 0;
  font-size: 14px;
}
.modal-popup .modal-footer {
  display: flex;
  align-items: center;
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 8px 16px;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  background-color: #eee;
}
.modal-popup .modal-footer::after {
  content: "";
  position: absolute;
  right: 32px;
  width: 18px;
  height: 17px;
  background: url("../svgs/send.svg") no-repeat center / cover;
  cursor: pointer;
}
.modal-popup .modal-footer .btn-file {
  width: 18px;
  height: 18px;
  margin-right: 16px;
  background: url("../svgs/plus.svg") no-repeat center / cover;
  cursor: pointer;
}
.modal-popup .modal-footer #file {
  display: none;
}
.modal-popup .modal-footer .input {
  width: 100%;
  padding: 4.8px 16px;
  border: 0;
  border-radius: 20px;
  font-size: 14px;
}
.modal-popup .modal-footer .input:focus {
  outline: none;
}
.modal-popup .modal-footer .input::placeholder {
  font-size: 14px;
}
